
html{
    font-family: 'Roboto', sans-serif;
    border: 2px solid red;
    
}
/*Header */
nav{
    display: flex;
}

nav p{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}


nav h1{
    font-weight: lighter;
    
}

nav .h1-gray{
    color: gray;
    
}


nav span{
    padding-right: 16px;
}

/* First Layer */

.first-layer{
    
    display: flex;
    background-color: lightgray;

}
.first-layer p{
    font-weight: 400;
    font-size: 40px;
    color: rgba(73, 73, 72, 0.726);
}

.first-layer h1{
    font-size: 70px;
    text-align: center;
    font-weight: 900;
    color: rgba(73, 73, 72, 0.726);
}

.banner-pt1{
    width: 60%;
}
.banner-pt1 img{
    width: 100%;
    margin: 32px 24px;
}

.banner-pt2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    
}
.banner-pt2 h1{
    font-weight: 400;
}


.banner-pt2 button{
    width: 350px;
    height: 50px;
    background-color: rgb(44, 40, 40);
    color: white;
    font-size: 18px;
    paddiing: 8px 8px;
}


/*End of First Layer */




.class{
    border: 2px solid black;
}





/*Second Layer */
.second-layer{
    
    display: flex;
    width: 100%;
    
}
.second-layer .box-1{
width: 60%;
padding: 32px 24px;


}
.second-layer .box-1 img{
    width: 100%;
   
}
.box-1 h1{
    padding-top: 32px;
    padding-bottom: 24px;
    font-size: 40px;
    font-weight: 400;
}

.box-1 p{
    font-size: 20px;
}

.second-layer .box-2{
    width: 40%;
}

.event-text h1{
    font-weight: 400;
}

.event{
    border: 1px solid gainsboro;
    display: flex;
    align-items: center;
}

.event-text{
    width: 100%;
    
}
.read-me{
    color: rgb(40, 40, 236);
}

.event img{
    width: 35%;
    padding: 16px;
}

.guest-lecture{
    background-color: gainsboro;
}

/*End of Second Layer */



/* Third Layer */
.third-layer{
    
    background-color: lightgray;
    padding-top: 32px;
}

.third-layer h1{
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 35px;

}
.courses{
    display: flex;
 flex-flow: row wrap;
 justify-content: center;
}
.class{
    height: 330px;
    width: 330px;
    margin-bottom: 32px;
    background-color: white;
    flex-wrap: wrap;
    margin: 16px;
}

.class img{
    height: 150px;
    width: 100%;
}

.class .bold{
    font-weight: 500;
    font-size: 20px;
    color: black;
    margin-top: 16px;

}
.class p{
    margin-left: 16px;
    
    color: rgb(110, 108, 108);
}

.row-2{
    display: flex;
    flex-direction: row;
    margin-bottom: 32px;
}
/*End of Third Layer */


/*Fourth Layer */


.fourth-layer{
    margin: 32px 0px 32px 24px ;
}

.thesis{
    text-align: center;
    margin-bottom: 32px;
}

.fourth-layer .box-1{
    width: 60%;
}

.fourth-layer video{
    width: 100%;
}

.fourth-layer .info-container{
    display: flex;
}

.fourth-layer .box-2{
    margin-left: 24px;
    width: 40%;

}
.box-1 h4{
    margin-top: 24px;
    margin-bottom: 8px;
}

.box-2 .info-box1{
    background-color: gainsboro;
}

.fourth-layer .box-2 .info{
    display: flex;
    text-align: center;
}

.box-2 .info img{
    padding: 16px;
    width: 35%;
    height: 200px;

}

.fourth-layer .context{
    text-align: left;
    width: 100%;
}

.context h3{
    font-weight: 400;
    font-size: 30px;
}
/*End Of Fourth Layer */

/* Footer */


footer{
    margin-top: 16px;
    margin-left: 24px;
    display: flex;

}

.copyright{
    width: 100%;
}
.legal{
    width: 100%;
    display: flex;
   justify-content: flex-end;
}

.term{
    padding-right: 10px;
}

.privacy{
    padding-right: 3px;
}