
/*Header */
nav{
    display: flex;
}

nav p{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}


nav h1{
    font-weight: lighter;
}

nav .h1-gray{
    color: gray;
    
}


nav span{
    padding-right: 16px;
}

/* First Layer */

.first-layer{
    border: 2px solid red;
    display: flex;
    background-color: lightgray;

}
.banner-pt1 img{
    width: 100%;
}

.banner-pt2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    
}

.banner-pt2 button{
    width: 250px;
    height: 50px;
    background-color: rgb(44, 40, 40);
    color: white;
}

.first-layer p{
    font-weight: 400;
    font-size: 40px;
}

.first-layer h1{
    font-size: 70px;
    text-align: center;
}
/*End of First Layer */




.class{
    border: 2px solid black;
}



/*Second Layer */
.second-layer{
    border: 2px solid blue;
    display: flex;
    width: 100%;
    
}
.second-layer .box-1{


}
.second-layer .box-1 img{
    width: 100%;
}

.second-layer .box-2{
    width: 100%
}

.event{
    border: 2px solid red;
    display: flex;
    align-items: center;
}

.event-text{
    width: 100%;
    text-align: center;
}
/*End of Second Layer */



/* Third Layer */
.third-layer{
    border: 2px solid green;
    background-color: lightgray;
}

.third-layer h1{
    text-align: center;

}
.courses{
    display: flex;
 flex-flow: row wrap;
 justify-content: space-around;
}
.class{
    height: 300px;
    width: 420px;
    margin-bottom: 32px;
    background-color: white;
}

.class img{
    height: 150px;
    width: 100%;
}

/*End of Third Layer */


/*Fourth Layer */



.fourth-layer {
    border: 2px solid rebeccapurple;
}
/*End Of Fourth Layer */

/* Footer */


footer{
    border-top: 2px solid black;
}